@model ProductVM

@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProductDetails</h2>

<div>
    <h4>ProductVM</h4>
    <hr />

    <h4><b>Name:</b> @Model.Product.ProductName</h4>  
    <h4><b>Status:</b> @Model.Product.Status</h4>

    <br />
    <button class="btn btn-primary">Sepete Ekle</button>


    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "ProductList", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "ProductList")
</p>
