@model CategoryVM

@{
    ViewBag.Title = "CategoryDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kategori Detayları</h2>

<div>
    <hr />

    <h4><b>Adı:</b> @Model.Category.CategoryName</h4>
    <h4><b>Açıklama:</b> @Model.Category.Description</h4>

    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Güncelle", "UpdateCategory", new { id = Model.Category.ID }) |
    @Html.ActionLink("Kategori Listesi", "CategoryList")
</p>
