@model IssueVM
@{
    ViewBag.Title = "Teknik Destek";
}

<div class="login-wrap">
    <div class="container-fluid">
        @using (Html.BeginForm())
            {
                <div class="message">
                    <div class="login">
                        <div class="form-control">
                            <h1 class="form-group"></h1>
                        </div>
                        <label for="text" class="title">Konu baslik </label>
                        Html.TextBoxFor(x => x.Issue.Email, new { class = "form-control", placeholder = "Lütfen emailinizi giriniz" })
                    </div>
                </div>
            }




    </div>







</div>