@model ShoppingVM

@{
    ViewBag.Title = "ShoppingList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShoppingList</h2>

<table class="table">

    @if (Model.Cards.Count == 0)
    {
        <p>Sepetinizde ürün bulunmamaktadır.</p>
    }
    else
    {
        decimal totalPrice = 0m;



        foreach (CartItem item in Model.Cards)
        {

            totalPrice += item.Price;
            <tr>
                <td>
                    <h3>Name: @item.Name</h3>
                    <h3>Price: @item.Price</h3>
                    @Html.ActionLink("Sepetten Çıkar", "DeleteFromCart", new { id = item.ID })

                </td>
            </tr>
        }
        <tr>
            <h2>Total Price:    @totalPrice</h2>
        </tr>

        //@Html.ActionLink("Alış Veriş Tamamla", "CompletedShopping", new { ids = item.ID })

    }


</table>
