@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h2>Teknoromaya Hos Geldiniz</h2>
        <p>
            İstediğiniz ürünü kolaylıkla satın alabilirsiniz
        </p>
    </div>

</div>